<div class="main-container">
    <div class="upper-container">
            <img src="/assets/images/jairo-logo.png" alt="">
            <p>Jairosoft EINGRESS</p>    
    </div>

    <div class="lower-container">
        <div class="content">
            <h1>Ready to log in?</h1>
            <h2>Simply scan your fingerprint or ID below</h2>
            <input type="text" class="hidden-input" [hidden]="isHidden" #inputElement
            (input)="onInput($event)" (focus)="onFocus()"  (keyup.enter)="submitData()">
        </div>

        <div class="lower-container">
            <div class="content">
                <h1>Ready to log in?</h1>
                <h2>Simply scan your fingerprint or ID below</h2>
            </div>
            <img class="JairoBot" src="/assets/images/JairoBot.png" alt="">
        </div>
    </div>