
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, sans-serif;
}


body {
    background-color: #0C131D;
    padding: 50px;

}

.main-container {
    position: relative;
    background-color: #0C131D;
    height: 1024px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.upper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.upper-container img{
    height: 150px;
    width: 150px;
}

.upper-container p{
    font-size: 32px;
    font-weight: 600;
    color: #D0D0D1;
}



.lower-container {
    position: relative;
    width: 100%; 
    height: calc(100% - 360px); 
    display: flex;
    border-radius: 20px;
    background-color: #121C2B;
    margin: 0 auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
}

.content h1{
    margin-top: 50px;
    font-size: 64px;
    font-weight: 700;
    color: #2291F2;
}

.content h2{
    font-size: 48px;
    margin-top: 100px;
    color: #FFFFFF;
}


.JairoBot{
    position: absolute;
    width: 250px; 
    height: 250px;
    bottom: 0;
    right: 0;
    animation: moveUpDown 1s ease-in-out infinite alternate; 
}

.hidden-input{
    position: absolute;
    left: -9999px;
}

@keyframes moveUpDown {
    0% {
        bottom: 0; 
    }
    100% {
        bottom: 20px;
    }
}



