<!-- <div class="main-container">
    <div class="upper-container">
            <img src="/assets/images/jairo-logo.png" alt="">
            <p>Jairosoft EINGRESS</p>    
    </div>

    <div class="lower-container">
        <div class="content">
            <h1>Ready to log in?</h1>
            <h2>Simply scan your fingerprint or ID below</h2>
            <input type="text" class="hidden-input" [hidden]="isHidden" #inputElement
           (focus)="onFocus()" (keyup.enter)="submitData()">
        </div>
    </div>
    <img class="JairoBot" src="/assets/images/JairoBot.png" alt="">
</div> -->

<div class="main-container">
    <div class="upper-container">
            <img src="/assets/images/jairo-logo.png" alt="">
            <div class="EINGRESS">
                <p>Jairosoft</p>    
                <p>EINGRESS</p>
            </div>
            
    </div>

    <div class="lower-container">
        <div class="content">
            <div class="greeting">
                Good morning
               </div>
               <div class="photoholder">
                <img class="displayPhoto" src="/assets/images/max-smith.png" alt="profilephoto">
               </div>
               <div class="name">Sanny Paul</div>
            <div class="date">May 8, 2024 1:09 PM</div>
        </div>
         
        </div>
    </div>